#panel{
    background-color:blue
}
#formId{
    width: 100%;
    margin-top: 2em;
    margin-left: 6%;
    margin-right: 6%;
}
.Heading1{
    margin-top: .1em;
    font-size: xx-large;
    font-family: monospace;
    font-style: oblique;
    /* text-align-last: center; */
     margin-left: 15%;
    padding-top: 2em; 
}
.dailyConfirmedCaseGraph{
    margin-left: 3em;    
    font-family: monospace;
    font-style: oblique; 
}
.stateWiseHeading {
    margin-left: 4em;    
    font-family: monospace;
    font-style: oblique; 
}
 #details{
    font-size: small;;
} 
#chartdiv {
    height: 500px;
    /*margin-left: 4em;*/
  }
  