#panel{
    background-color:blue
}
#formId{
    width: 100%;
    margin-top: 0.5em;
    margin-left: 6%;
    margin-right: 6%;
}
.Heading1{
    /* margin-top: .1em; */
    font-size: xx-large;
    font-family: monospace;
    font-style: oblique;
    /* text-align-last: center; */
    text-align: center;
    padding-top: .5em; 
}
.dailyConfirmedCaseGraph{
    margin-left: 3em;    
    font-family: monospace;
    font-style: oblique; 
}
.stateWiseHeading {
    margin-left: 4em;    
    font-family: monospace;
    font-style: oblique; 
    margin-top: -3.5em;
}
 #details{
    font-size: small;;
} 
#chartdiv {
    height: 500px;
    /*margin-left: 4em;*/
  }
  .list{
    font-size: large;
    padding: 1em;
    font-family: monospace;
    font-style: oblique;
  }