<div class="container">

  <div class="row tiles">
    <div class="col-sm-6">
      <div class="card bg-info text-red">
        <div class="card-body">Total confirmed case - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length -
            1 ].totalconfirmed}}</div>
      </div><br>
    </div>
    <div class="col-sm-6">
      <div class="card bg-danger text-red">
        <div class="card-body">Total death - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length - 1
            ].totaldeceased}}</div>
      </div><br>
    </div>
    <div class="col-sm-6">
      <div class="card bg-success text-red">
        <div class="card-body">Total recovered - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length - 1
            ].totalrecovered}}</div>
      </div><br>
    </div>
    <!-- <div class="col-sm-6">
      <div class="card bg-danger text-red">
        <div class="card-body">Primary card</div>
      </div>
    </div> -->
  </div>


  <!-- <strong>
    <h3 class="Heading1">Covid 19 pandemic tracker for India</h3>
  </strong>
  <div class="row list">
    <ul>
      <li>Total confirmed case - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length -
        1 ].totalconfirmed}}</li>
      <li>Total death - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length - 1
        ].totaldeceased}}</li>
      <li>Total recovered - {{this.totalIndiaData.cases_time_series[this.totalIndiaData.cases_time_series.length - 1
        ].totalrecovered}}</li>
    </ul>
  </div> -->
  <div class="row dailyConfirmedCaseGraph" style="font-size: x-large">
    <label for="dailyConfirmedCase">Daily confirmed case</label>
  </div>
  <div class="row">
    <div class="col-sm">
      <div id="chartdiv"></div>
    </div>
  </div>
  <div class="row dailyConfirmedCaseGraph" style="font-size: x-large">
    <label for="dailyConfirmedCase">Death (Red) and Recover (green) data</label>
  </div>
  <div class="row">
    <div class="col-sm">
      <div id="chartdivDeath"></div>
    </div>
  </div>
  <div class="row stateWiseHeading">
    <label style="font-size: x-large" for="Heading"> State wise detailed information </label></div>
  <div class="row">
    <form id="formId" [formGroup]="indiaInfoForm">
      <mat-accordion>
        <mat-expansion-panel id="panel" *ngFor="let stateData of totalIndiaData.statewise ; let i = index">
          <mat-expansion-panel-header *ngIf="i!=0">
            <mat-panel-title>
              {{stateData.state}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ( {{stateData.confirmed}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-label id="details">&nbsp;&nbsp;&nbsp;Active : {{stateData.active}}</mat-label><br>
          <mat-label id="details">&nbsp;&nbsp;&nbsp;deaths : {{stateData.deaths}}</mat-label><br>
          <mat-label id="details">&nbsp;&nbsp;&nbsp;Recovered : {{stateData.recovered}}</mat-label><br>
          <mat-label id="details">&nbsp;&nbsp;&nbsp;Updated On : {{stateData.lastupdatedtime}}</mat-label>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
</div>